<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=DESKTOP-PQH8A4O\SQLEXPRESS;Initial Catalog=WPF;Integrated Security=True;	MultipleActiveResultSets=true"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>